<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular Impacto [Debilidades|Fortalezas|Amenazas|Oportunidades]</title>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/incrementos">Incrementos</a></li>
        <li><a href="/calculo_predictivo_2022">Predicción para 2022</a></li>
        <li><a href="/dafo">Análisis DAFO</a></li>
        <li><a href="/impactos">Impactos</a></li>
      </ul>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Calcular Impacto [Debilidades|Fortalezas|Amenazas|Oportunidades]</h1>

    {% if impactos %}
        <h2>Impacto de cada categoría</h2>
        <ul>
            {% for impacto in impactos %}
                <li>{{ impacto }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>