<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/incrementos">Incrementos</a></li>
        <li><a href="/calculo_predictivo_2022">Predicción para 2022</a></li>
        <li><a href="/dafo">Análisis DAFO</a></li>
        <li><a href="/impactos">Impactos</a></li>
      </ul>
    <title>DAFO Form</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Matriz DAFO</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post">
        <label for="incremento_2022">Incremento 2022:</label>
        <input type="text" name="incremento_2022" required>

        <label for="Debilidades">Debilidades:</label>
        <input type="text" name="Debilidades" required>

        <label for="Fortalezas">Fortalezas:</label>
        <input type="text" name="Fortalezas" required>

        <label for="Amenazas">Amenazas:</label>
        <input type="text" name="Amenazas" required>

        <label for="Oportunidades">Oportunidades:</label>
        <input type="text" name="Oportunidades" required>

        <button type="submit">Calcular</button>
    </form>

    {% if incremento_2022 %}
        <h2>Resultados:</h2>
        <p>Incremento 2022: {{ incremento_2022 }}</p>
        <p>Matriz DAFO:</p>
        <ul>
            <li>Debilidades: {{ matriz_dafo.Debilidades }}</li>
            <li>Fortalezas: {{ matriz_dafo.Fortalezas }}</li>
            <li>Amenazas: {{ matriz_dafo.Amenazas }}</li>
            <li>Oportunidades: {{ matriz_dafo.Oportunidades }}</li>
        </ul>
    {% endif %}
</body>
</html>
