<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Modelo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Cargar Modelo</h1>
    <form method="post" action="{{ url_for('cargar_modelo') }}" enctype="multipart/form-data">
        <label for="modelo_file">Selecciona el archivo del modelo (.pkl):</label>
        <input type="file" name="modelo_file" id="modelo_file" accept=".pkl" required>
        <br>
        <input type="submit" value="Cargar Modelo">
    </form>
</body>
</html>







