<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Increments promedios</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <h1>Increments promedios de data_value por año</h1>
  <table>
    <tr>
      <th>Año</th>
      <th>Incremento promedio</th>
    </tr>
    {% for year, increment in average_increments.items() %}
    <tr>
      <td>{{ year }}</td>
      <td>{{ increment }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>

