<!DOCTYPE html>
<html>
<head>
    <title>Cargar Archivo CSV</title>
</head>
<body>
    <h1>Cargar Archivo CSV</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <br>
        <h2>Valores para las Categorías:</h2>
        <label for="fortalezas">Fortalezas:</label>
        <input type="text" name="fortalezas" required>
        <br>
        <label for="oportunidades">Oportunidades:</label>
        <input type="text" name="oportunidades" required>
        <br>
        <label for="debilidades">Debilidades:</label>
        <input type="text" name="debilidades" required>
        <br>
        <label for="amenazas">Amenazas:</label>
        <input type="text" name="amenazas" required>
        <br>
        <input type="submit" value="Calcular Resultados">
    </form>
</body>
</html>
