<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Portal Mafalda de Noticias y libros</title>
</head>
<body>

    <header>
        <h1>Portal Mafalda de Noticias y libros</h1>
        <nav>
            <ul>
                <li><a href="#noticias">Noticias</a></li>
                <li><a href="#tienda">Tienda</a></li>
            </ul>
        </nav>
    </header>

    <section id="noticias">
        <h2>Últimas Noticias</h2>
        <!-- Contenido de noticias -->
    </section>

    <section id="tienda">
        <h2>Tienda</h2>
        <!-- Contenido de la tienda -->
    </section>

    <footer>
        <p>&copy; 2023 Portal de Noticias y Tienda</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
